{% extends 'base.html' %}

{% block content %}

    <h1>Что вы хотите сделать?</h1>
    <ul>
        <li>
            <a href="adding_id=1">Факультет</a>
        </li>
        <li>
            <a href="adding_id=2">Кафедру</a>
        </li>
        <li>
            <a href="adding_id=3">Специальность</a>
        </li>
        <li>
            <a href="adding_id=4">Группу</a>
        </li>
        <li>
            <a href="adding_id=5">Студента</a>
        </li>
        <li>
            <a href="adding_id=6">Связать пользователя со студентом</a>
        </li>
        <li>
            <a href="adding_id=7">Расписание</a>
        </li>
    </ul>

{% endblock content %}