{% extends 'base.html' %}

{% block content %}

    <div class="choice-container">
        <h1 class="choice">Что вы хотите сделать?</h1>
        <ul class="choice-list">
            <li>
                <a href="adding_id=1">Факультет</a>
            </li>
            <li>
                <a href="adding_id=2">Кафедру</a>
            </li>
            <li>
                <a href="adding_id=3">Специальность</a>
            </li>
            <li>
                <a href="adding_id=4">Группу</a>
            </li>
            <li>
                <a href="adding_id=5">Студента</a>
            </li>
            <li>
                <a href="adding_id=6">Преподавателя</a>
            </li>
            <li>
                <a href="adding_id=7">Расписание</a>
            </li>
            <li>
                <a href="adding_id=8">Связать пользователя со студентом</a>
            </li>
            <li>
                <a href="adding_id=9">Связать пользователя с преподавателем</a>
            </li>
            <li>
                <a href="adding_id=10">Связать преподавателя с предметом с группой</a>
            </li>
        </ul>
    </div>

{% endblock content %}
