{% load static %}
<!DOCTYPE html>
{% load panel_extras %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'panel/css/main.css' %}">
  <link rel="shortcut icon" href="{% static 'panel/images/favicon.png' %}" type="image/x-icon">
  <title>{% block title %} Моя Шарага {% endblock %}</title>
</head>

<body>
  <div class="content">
    <div class="container">
      <header>
        <p><a class="logo" href="{% url 'home' %}" >МояШарага</a></p>

        <nav>
          <a href="#" class="hide-desktop">
            <img src="{% static 'panel/images/ham.png' %}" alt="ham" class="ham">
          </a>
          <ul class="nav hide-mobile">
              <li class="exit-btn hide-desktop">
                <img src="{% static 'panel/images/exit.svg' %}" alt="exit">
              </li>
            {% if user.is_authenticated %}
            {% if request.user|has_group:"University" %}
              <li>
                <a class="link" id="add" href="{% url 'panel:choice' %}">Добавить</a>
              </li>
            {% endif %}
              <li>
                <a class="link" href="{% url 'users:logout' %}">Выйти</a>
              </li>
              <li>
                <a class="link" href="{% url 'users:profile' %}">Профиль</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="link" href="{% url 'users:login' %}">Войти</a>
              </li>
              <li>
                <a class="link" href="{% url 'users:register' %}">Зарегистрироваться</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </header>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

      <section>
        {% block content %}
        <img src="{% static "panel/images/logo2.png" %}" alt="logo" class="image">
        <h1 class="name">Моя Шарага</h1>
        <p class="subname">Удобный способ взаимодействия с вузом</p>
        {% if user.is_authenticated %}
          <a href="{% url 'panel:index' %}" class="btn" id="btn-search">Найти себя</a>
          <a href="{% url 'admin:index' %}" class="btn" id="btn-add">Добавить</a>
        {% else %}
        <h2 class="advise">Присоединись прямо сейчас</h2>
        <a href="{% url 'users:login' %}" class="btn" id="btn-reg">Зарегистрироваться</a>
        <a href="{% url 'users:register' %}" class="btn" id="btn-log">Войти</a>
        {% endif %}
        {% endblock %}
      </section>
    </div>

    <footer class="footer-container">
      <p>&copy; Moya Sharaga made by <a href="#" class="team">gaysexteam</a> with &#10084</p>
    </footer>
  </div>

</body>
</html>
