{% extends 'base.html' %}

{% block title %}Расписание{% endblock %}

{% block content %}
{% if timetableForMonday or timetableForTuesday or timetableForWendsday or timetableForThursday or timetableForFriday or timetableForSaturday %}
<div class="timetable">
  <table class="table">

    <tbody>
      <tr>
        <td scope="row">ПН</td>
      {% for c in timetableForMonday %}
            <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
      {% endfor %}
      </tr>
      <tr>
        <td scope="row">ВТ</td>
      {% for c in timetableForTuesday %}
            <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
      {% endfor %}
      </tr>
      <tr>
        <td scope="row">СР</td>
      {% for c in timetableForWendsday %}
            <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
      {% endfor %}
      </tr>
      <tr>
        <td scope="row">ЧТ</td>
      {% for c in timetableForThursday %}
            <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
      {% endfor %}
      </tr>
      <tr>
        <td scope="row">ПТ</td>
      {% for c in timetableForFriday %}
            <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
      {% endfor %}
      <tr>
        <td scope="row">СБ</td>
      {% for c in timetableForSaturday %}
            <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
      {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

{% else %}
        Группа не найдена =(

{% endif %}

{% endblock %}
