{% extends 'base.html' %}

{% block title %}Расписание{% endblock %}

{% block content %}
{% if timetableForMonday or timetableForTuesday or timetableForWendsday or timetableForThursday or timetableForFriday or timetableForSaturday %}
<table class="table">

  <tbody>
    <tr>
      <th scope="row">ПН</th>
    {% for c in timetableForMonday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    </tr>
    <tr>
      <th scope="row">ВТ</th>
    {% for c in timetableForTuesday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    </tr>
    <tr>
      <th scope="row">СР</th>
    {% for c in timetableForWendsday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    </tr>
    <tr>
      <th scope="row">ЧТ</th>
    {% for c in timetableForThursday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    </tr>
    <tr>
      <th scope="row">ПТ</th>
    {% for c in timetableForFriday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    <tr>
      <th scope="row">СБ</th>
    {% for c in timetableForSaturday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{% else %}
        Группа не найдена =(

{% endif %}

{% endblock %}
