{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<p><b>Ваш логин:</b>{{ user.username }}</p>

{% if student %}
<h4>{{student.student_surname}} {{student.student_name}} {{student.student_patronymic}}</h4>
<p>
    <i class="glyphicon glyphicon-envelope"></i><b>Группа:</b>{{student.group}}
    <br/>
    <i class="glyphicon glyphicon-gift"></i><b>Пол:</b>{{student.student_sex}}
</p>
{% if timetableForMonday or timetableForTuesday or timetableForWendsday or timetableForThursday or timetableForFriday or timetableForSaturday %}
<table class="table">

  <tbody>
    <tr>
      <th scope="row">ПН</th>
    {% for c in timetableForMonday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    </tr>
    <tr>
      <th scope="row">ВТ</th>
    {% for c in timetableForTuesday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    </tr>
    <tr>
      <th scope="row">СР</th>
    {% for c in timetableForWendsday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    </tr>
    <tr>
      <th scope="row">ЧТ</th>
    {% for c in timetableForThursday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    </tr>
    <tr>
      <th scope="row">ПТ</th>
    {% for c in timetableForFriday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    <tr>
      <th scope="row">СБ</th>
    {% for c in timetableForSaturday %}
          <td>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</td>
    {% endfor %}
    </tr>
  </tbody>
</table>
{% endif %}
{% else %}
<h4>Ваш аккаун не привязан :(</h4>
{% endif %}
{% endblock content %}
