html, body {
    height: 100%;
    font-family: Tahoma;
}

body {
    margin: 0;
    background-color: #1D1D1F;
}

a {
    text-decoration: none;
    color: #2997FF;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-weight: normal;
}


/* container */
.container {
    padding-bottom: 2.5rem;
}

.content {
    text-align: center;
    position: relative;
    min-height: 100vh;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 130px;
    color: #fff;
    font-size: 25px;
    padding: 1em;
    margin-left: 4em;
}

.nav {
    font-size: 25px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em 0;
    display: flex;
    background: none;
}

nav ul li {
    float: left;
}

.link {
    color: #D5D5D5;
    display: inline-block;
    text-align: right;
    padding: 1em;
    text-decoration: none;
    cursor: pointer;
}

.link:hover, .logo:hover {
    color: #2997FF;
}


/* content */
.image {
    width: 30%;
    height: 50%;
}

section {
    color: #D5D5D5;
    padding: 0;
}

.name {
    color: #fff;
    font-size: 60px;
}

.subname {
    font-size: 33px;
}

.advise {
    font-size: 37px;
    margin-bottom: 1em;
}

.btn {
    background: #2997FF;
    display: inline-flexbox;
    color: #fff;
    border-radius: 25px;
    padding: .7em;
    font-size: 29px;
    margin-right: 1em;
}

.btn:hover {
    text-decoration: none;
}

#btn-log {
    padding: .7em 115px;
}

#btn-reg {
    padding: .7em 20px;
}


/* forms */
fieldset {
    border: none;
}

form {
    margin: 3em;
}

span {
    display: none;
}

small {
    font-size: 17px;
}

input {
    width: 100%;
    background-color: #1D1D1F;
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #2997FF;
}

select {
    width: 100%;
    padding-top: 10px;
    font-size: 20px;
    border: none;
    background-color: #1D1D1F;
    border-bottom: 2px solid #2997FF;
    color: #fff;
    margin: 20px 0;
}

.register {
    font-size: 50px;
}

li {
    display: flex;
    margin: 0;
    padding: 0;
}

button {
    background-color: #2997FF;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    color: #fff;
    padding: 1em;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

legend {
    font-size: 30px;
}

label {
    font-size: 20px;
    display: flex;
    color: #D5D5D5;
}


/* search */
.description {
    font-size: 35px;
}

.search {
    font-size: 25px;
    width: 40%;
    margin-right: 2em;
}

.btn-search {
    font-size: 25px;
    border-radius: 10px;
    padding: .4em;
}

.results {
    font-size: 50px;
}

.res-container {
    display: flex;
    margin-left: 10em;
}

.student-link {
    font-size: 30px;
}


/* profile */
.student-container {
    margin-top: 5em;
}

.username, .student-name {
    color: #fff;
    text-align: left;
    margin-left: 5em;
    font-size: 30px;
}

.group, .sex, .specialty, .degree {
    text-align: left;
    font-size: 25px;
    margin-left: 6em;
}


/* others */
.login-again {
    font-size: 30px;
}

.choice-list {
    font-size: 25px;
    margin-left: 6em;
}

.choice {
    text-align: start;
    margin-left: 4em;
}

.timetable {
    color: #fff;
    margin-left: 9.5em;
}

table {
    border-collapse: collapse;
    width: 85%;
}

th {
    text-align: left;
    padding: 0;
}

td {
    text-align: left;
    padding: 15px;
    border-bottom: 1.5px solid #2997FF;
}


/* footer */
.footer-container {
    text-align: center;
    color: #D5D5D5;
    font-size: 20px;
    position: absolute;
    width: 100%;
}


/* desktop and mobile */
.hide-desktop {
    display: none;
}


@media only screen and (max-width: 700px) {

    .hide-mobile {
        display: none;
    }

    .hide-desktop {
        display: block;
    }

    .logo {
        margin-left: 0;
    }

    .ham {
        width: 50%;
        margin-top: 1em;
    }

    .image {
        margin-top: 1em;
        width: 70%;
    }

    .btn {
        display: block;
        font-size: 25px;
        margin: 1em;
    }

    table {
        width: 10%;
    }

    .timetable {
        margin: 0;
    }

    .student-link {
        text-align: left;
    }

    .search {
        width: 90%;
        margin: 1em;
    }

    .res-container {
        margin: 0;
    }

    .student-link, .student-name, .group, .sex, .choice, .choice-list, .add-form {
        text-align: left;
        margin: 1em;
    }

    form {
        margin: 0;
    }

    .register {
        text-align: left;
        font-size: 35px;
    }

    input {
        width: 100%;
    }

}